html,
body,
a {
    box-sizing: border-box;
    height: 100%, margin: 0, padding: 0;
    font-family: 'Coming Soon', cursive;
    font-size: 16pt;
    color: #272316;
    font-weight: normal;
}

#menu {
    background-color: transparent;
    color: #272316;
    float: right;
    width: 100px;
    z-index: 500;
}

#dropdown1 {
    background-color: transparent;
}
#regBoxWrap {
    height: 500px;
    width: 500px;
    text-align: center;
    margin-top: -300%;
}
#logo {
    vertical-align: bottom;
    float: right;
}
#regBox,
#loginBox {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    background-color: #d5cdb6;
    opacity: 0.7;
    padding: 10px;
}
#regBox {
    min-height: 600px;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    background-color: #d5cdb6;
}
.btn {
    font-size: 10pt;
    background-color: #977757;
    color: #272316;
    font-weight: bold;
}
#fontLogo {
    height: 140px;
    vertical-align: bottom;
    float: left;
}
#leftPanel {
    height: 100%;
    width: 30%;
    position: absolute;
    z-index: 100;
}
#map {
    height: 100%;
    margin-left: 30%;
    width: 70%;
    position: absolute;
    z-index: 200;
}
#submitBtn,
#regBtn {
    background-color: ##977757;
    color: #272316;
}
#breedInput,
#zip {
    color: #977757;
    font-family: 'Unica One', cursive;
}
#label {
    font-size: 12pt;
    color: #977757;
}
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-weight: normal;
    color: #977757;
}
::-moz-placeholder {
    /* Firefox 19+ */
    font-weight: normal;
    color: #977757;
}
:-ms-input-placeholder {
    /* IE 10+ */
    font-weight: normal;
    color: #977757;
}
:-moz-placeholder {
    /* Firefox 18- */
    font-weight: normal;
    color: #977757;
}